<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FormatSalvare" value="txt"/>
    <!--Formatele suportate sunt 'bin' si 'txt'-->
    <add key="NumeFisier" value="Conturi"/>
  </appSettings>
</configuration>